* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;}
:root {
    --bg-color: #024843;
    --text-color: #fdfdfd;
    --main-color:#8f8f8f;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0, 0, 0, .2);}
html {
    font-size: 62.5%;
    overflow-x: hidden;}
body{
    background: var(--bg-color); 
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px;}
    
.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background:transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;}
.logo {
    font-size: 2.5rem;
    color: #fdfdfd;
    font-weight: 600; 
    cursor: default;
    margin-right: auto;}
.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500; margin-right: 3.5rem;}
.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);}
section {
    min-height: 100vh; 
    padding: 10rem 7% 2rem;}
.home {
    display: flex;
    align-items: center;}
.home .home-content {
    max-width: 44rem;}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;}
.home-content p {
    font-size: 1.6rem;}
.home-content .social-media a { 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .3rem solid #0ea89d;
    border-radius: 40%;
    box-shadow: 0.2rem .5rem var (--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .3s ease;}
.home-content .social-media a:hover {
    background: #0a8078;
    color: #0a8078;
    width: 6.5rem;
    height: 6.5rem;
    box-shadow: 0 0 15px #0a8078;}
.home-content .social-media a:hover svg {
    stroke: #00ffee;}
.name{
    text-shadow: 4px 4px 4px #01211f;}
.btn{
    width:fit-content;
    text-align: center;
    color: #fdfdfd;
    display: flex;
    padding: 1.2rem 2.8rem;
    background: transparent;
    border: .3rem solid #0ea89d;
    position: relative;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    transition: .5s;
    white-space: nowrap;
    /* border: 3px solid #0a8078; */}
.btn:hover{
    transition-delay: .1s;
    background: #0a8078;
    letter-spacing: .12em;
    box-shadow: 0 0 20px #0a8078;
    text-indent: 0;
    color: #00ffee;}
     
/* Contact Me  */
.hero{
    width: 100%;
    height: 100vh;}
form{
    width: 90%;
    max-width: 600px;}
.input-group{
    margin-bottom: 30px;
    position: relative;}
input, textarea{
    width: 100%;
    padding: 10px; 
    outline: 0;
    border: 1px solid #0a8078; 
    border-width: 2px;
    color: #fff;
    background: transparent; 
    font-size: medium;
    border-radius: .8rem;}
label{
    height: 100%;
    position: absolute; left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: .5s;}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -30px;
    font-size: small;}
input:focus, 
textarea:focus {
  transition: background-color 0.5s ease-in-out;
  background-color: #0a8078;}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;}
.row .input-group{
    flex-basis: 48%;}
.btn1{
    width:fit-content;
    text-align: center;
    color: #fdfdfd;
    display: flex;
    padding: 1.2rem 2.8rem;
    background: transparent;
    border: .3rem solid #0ea89d;
    position: relative;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    transition: .5s;
    white-space: nowrap;
    transition: transform 500ms;}
.btn1:hover{
    background: #0a8078;
    letter-spacing: .12em;
    box-shadow: 0 0 20px #0a8078;
    text-indent: 0;
    color: #00ffee;}
/* .name:hover {
    transition-delay: .3s;
    color:#00ffee;
    letter-spacing: 10px;
    transition: all 0.5s ease;
    }
.name {
    transition: all 0.5s ease;
    } */
.btn1:hover,
.btn1:focus-visible{
    transform: translateY(-1.25rem);
    transition: transform ms; /* going up */}

#cards {
    display:flex;
    flex-wrap: wrap;
    gap:8px;
    width: calc(100%-20px);
    
}
.card:hover{
    box-shadow: 0 0 20px #0a8078;
}
.card{
    background-color: rgba(145, 145, 145, 0.02);
    border: 1px solid #0ea89d;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    height: 450px;
    width: 290px;
    overflow: hidden;
    background-size: cover;
}
.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06), 
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.card img {
    max-width: 110%;
    max-height: 100%;
    background-size: cover;
  }
  