* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;}
:root {
    --bg-color: #024843;
    --text-color: #fdfdfd;
    --main-color:#8f8f8f;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0, 0, 0, .2);}
html {
    font-size: 62.5%;
    overflow-x: hidden;}
body{
    background: var(--bg-color); 
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px;}
    
.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background:#0a8078;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: flex-end;
    transition: .5s;}
.logo {
    font-size: 2.5rem;
    color: #fdfdfd;
    font-weight: 600; 
    cursor: default;
    margin-right: auto;}
.navbar a {
    transition: all 0.5s ease 0s;
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500; margin-right: 3.5rem;}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);}

.navbar a:hover{
    transition-delay: .1s;
    color:#00ffee;
}
section {
    min-height: 100vh; 
    padding: 10rem 7% 2rem;}
.home {
    display: flex;
    align-items: center;}
.home .home-content {
    max-width: 44rem;}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;}
.home-content p {
    font-size: 1.6rem;}
.home-content .social-media a { 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .3rem solid #0ea89d;
    border-radius: 40%;
    box-shadow: 0.2rem .5rem var (--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .1s ease;}
.home-content .social-media a:hover {
    background: #0a8078;
    color: #0a8078;
    width: 6.5rem;
    height: 6.5rem;
    transition: .3s ease;
    box-shadow: 0 0 15px #0a8078;}
.home-content .social-media a:hover svg {
    stroke: #00ffee;}
.name{
    text-shadow: 4px 4px 4px #01211f;}
.btn{
    width:fit-content;
    text-align: center;
    color: #fdfdfd;
    display: flex;
    padding: 1.2rem 2.8rem;
    background: transparent;
    border: .3rem solid #0ea89d;
    position: relative;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    transition: .5s;
    white-space: nowrap;
    /* border: 3px solid #0a8078; */}
.btn:hover{
    background: #0a8078;
    letter-spacing: .12em;
    box-shadow: 0 0 20px #0a8078;
    text-indent: 0;
    color: #00ffee;}
     
/* Contact Me  */
.hero{
    width: 100%;
    height: 100vh;}
form{
    width: 90%;
    max-width: 600px;}
.input-group{
    margin-bottom: 30px;
    position: relative;}
input, textarea{
    width: 100%;
    padding: 10px; 
    outline: 0;
    border: 1px solid #0a8078; 
    border-width: 2px;
    color: #fff;
    background: transparent; 
    font-size: medium;
    border-radius: .8rem;}
label{
    height: 100%;
    position: absolute; left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: .5s;}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -30px;
    font-size: small;}
input:focus, 
textarea:focus {
  transition: background-color 0.5s ease-in-out;
  background-color: #0a8078;}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;}
.row .input-group{
    flex-basis: 48%;}
.btn1{
    width:fit-content;
    text-align: center;
    color: #fdfdfd;
    display: flex;
    padding: 1.2rem 2.8rem;
    background: transparent;
    border: .3rem solid #0ea89d;
    position: relative;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    transition: .5s;
    white-space: nowrap;
    transition: transform 500ms;}
.btn1:hover{
    transition: .3s ease;
    background: #0a8078;
    letter-spacing: .12em;
    box-shadow: 0 0 20px #0a8078;
    text-indent: 0;
    color: #00ffee;}
/* .name:hover {
    transition-delay: .3s;
    color:#00ffee;
    letter-spacing: 10px;
    transition: all 0.5s ease;
    }
.name {
    transition: all 0.5s ease;
    } */
.btn1:hover,
.btn1:focus-visible{
    transform: translateY(-1.25rem);
    transition: transform ms; /* going up */}

#cards {
    display:flex;
    flex-wrap: wrap;
    gap:8px; 
}
.card:hover{
    transition: .1s ease;
    box-shadow: 0 0 20px #0a8078;
}
.card{
    border: 2px solid #0ea89d;
    border-radius: 10px;
    position: relative;
    width: 290px;
    height: 440px;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.card img {
    max-width: 300px;
    max-height: 450px;
    size:100%;
  }

/* back to top button */
.back-to-top-btn {
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .1s ease;
    box-shadow: 0.2rem .5rem var (--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    border: .3rem solid #0ea89d;
    border-radius: 40%;
    background: transparent;
    position: fixed;
    width: 6rem;
    height: 6rem;
    justify-content: center; 
    align-items: center;
    bottom: 20px;
    right: 20px;
    cursor: pointer;}
.back-to-top-btn:hover {
    background: #0a8078;
    color: #0a8078;
    width: 6.5rem;
    height: 6.5rem;
    box-shadow: 0 0 15px #0a8078;}
.back-to-top-btn:hover svg {
    stroke: #00ffee;}

/* .interests2{
    background-color: black;
    margin:0rem;
    overflow: hidden;
}
#image-track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}
#image-track{
    display: flex;
    gap:4vmim;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-100%, -50%);



} */
/* display: inline-flex; } */


/* project cards */
.projhero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    max-width: 1200px;
    width: 100%; 
}
.projcard{
    position: relative;
    height: 350px;}
.projbackground{
    border: 3px solid #0ea89d;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) saturate(1,2) contrast(0.85);
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: filter 200ms linear,transform 200ms linear;
}
.projcard:hover .projbackground{
    border: none;
    transition: .5s ease;
    transform: scale(1.05) translateZ(0);
    text-shadow: 2px 2px 20px #01211f;
}
.card-grid:hover > .projcard:not(:hover) .projbackground{
    filter: brightness(0.4) saturate(1) contrast(1.2) blur(7px);
}
.projcontent{
    position: absolute;
    top:0;
    left:0;
    padding:24px;
}
.projcontent .projcategory{
    color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    font-size: 0.9rem;
}
.projcontent .projheading{
    color: rgba(255,255,255,0.9);
    font-size: 1.9rem;
    line-height: 1.4;
    transition: .5s;
    text-shadow: 1px 1px 5px #024843;
    
}
@media screen and (maxwidth: 960px){
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
}
@media screen and (maxwidth: 460px){
    .card-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
}

.projbackground img{
    width: 110%;
    height:100%
}

.contentP{
    color: transparent;
}
.projcard:hover .projbackground{
    filter: brightness(.4);
    transition: .4s ease;
}
.projcard:hover .contentP{
    transition: .3s ease;
    color: white;
}