
.box{
    width: 300px;
    position: relative;
    overflow: hidden;
}
.box img{
    width: 100%;
    height:100%;
}
.content{
    color: white;
    background-color: rgba(0,0,0,0.8);
    top: -100%;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 150px 20px; 
    /* ^^^ this makes the text go to the top*/
    box-sizing: border-box;
    transition: all 0.5s;
}
.box:hover .content{
    top:0;
}